<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>{% block main %} {% endblock%}</h1>
      <br />
      <form action="/user-login" method="POST">
        <br />
        Username:
        <input type="text" name="uname" placeholder="Enter username" required />
        <br /><br />
        Password:
        <input type="password" name="pass" placeholder="****" required />
        <br /><br /><br />
        <input type="submit" value="Login" />
        <br />
      </form>
    </center>
  </body>
</html>
