<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />

    <title>EcoMart Login</title>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" />
    <style>
      .container {
        margin-top: 5%;
        transform: scale(1.3, 1.3);
      }
      .bg-login-image {
        background: url("/static/ul.jpg");
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>

  <body class="bg-gradient-secondary">
    <nav class="navbar bg-light">
      <center><h3 class="">EcoMart</h3></center>
    </nav>
    <div class="container">
      <div class="row fs-5 justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
          <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-6 d-none d-lg-flex">
                  <div class="flex-grow-1 bg-login-image"></div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h4 class="text-dark mb-4">Welcome Back!</h4>
                    </div>
                    <form class="user" method="POST" action="/login">
                      <div class="mb-3">
                        <input
                          class="form-control form-control-user"
                          type="email"
                          placeholder="Enter Email Address..."
                          name="email"
                        />
                      </div>
                      <div class="mb-3">
                        <input
                          class="form-control form-control-user"
                          type="password"
                          id="exampleInputPassword"
                          placeholder="Password"
                          name="password"
                        />
                      </div>
                      <div class="mb-3">
                        <div class="custom-control custom-checkbox small"></div>
                      </div>
                      <button
                        class="btn btn-primary d-block btn-user w-100"
                        type="submit"
                      >
                        Login
                      </button>
                      <hr />
                      <hr />
                    </form>
                    <h4>
                      <a href="/register" class="text-decoration-none"
                        >Create an Account!</a
                      >
                    </h4>
                    <h6>
                      <a href="/admin_login" class="text-decoration-none"
                        >Admin's Login Here</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      {% if popup %}
      alert("You have entered invalid details!");
      {% endif %}
    </script>
  </body>
</html>
