{% extends 'admin.html'%} {% block content %}
<div class="container">
  <h1 class="mt-4">Add New Grocery Product</h1>
  <form method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Product Name:</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <input
        type="text"
        class="form-control"
        id="category"
        name="category"
        required
      />
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        required
      />
    </div>

    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        name="quantity"
        required
      />
    </div>

    <div class="form-group">
      <label for="time">Time:</label>
      <input
        type="number"
        class="form-control"
        id="time"
        name="time"
        required
      />
    </div>

    <div class="form-group">
      <label for="image">Image URL:</label>
      <input
        type="text"
        class="form-control"
        id="image"
        name="image"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div>
<!-- Bootstrap JS (optional, only needed if you use Bootstrap components that require JavaScript) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
