<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Orders</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Add any custom CSS styles here -->
  </head>
  <body>
    <div class="container mt-5 mb-5">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row g-0">
          <div class="col-md-12">
            <h1>My Orders</h1>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Order ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Total Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody id="order-items">
                {% if orders %} {% for order in orders %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{ order.id }}</td>
                  <td>{{ order.created_at }}</td>
                  <td>₹{{ order.total}}</td>
                  <td>Will be delivered Soon.</td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                  <td colspan="5">No orders found.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
            <div class="d-flex justify-content-end align-items-center">
              <button
                class="btn btn-primary ml-3"
                onclick="location.href='/home'"
              >
                Continue Shopping
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
